body
{
   background-color:#306090;
   color:#ffffff;
   font-family:"Trebuchet MS",Verdana,Geneva,Arial,Helvetica,sans-serif;
   font-size:small;
   margin:2em 1%;
   padding:0;

}
/*cadre de la page*/
#page
{
   color:#000000;
   background-color:#ffffff;
   /*background-image:url("http://openweb.eu.org/squelettes/style/original/fond.png");
   background-position:top right;
   background-repeat:no-repeat;*/
   border:3px solid #000000;
   min-height:55em;
   height:55em;
   border-radius: 5%;
}
header
{
   margin: 2em 3% 1% 3%;
   padding:0.05em 0 0.05em 0;
   background-color: #86b32d;
   border-radius:2em/2em;
}
header h1
{
   font-family: "Comic Sans MS",Arial,Helvetica,sans-serif;
   text-align:center;
   font-size: 3em;
}
nav
{
   margin: 2em 3% 1% 3%;
   padding:0.05em 0 0.05em 0;
   background-color: #9fee00;
   border-radius:25px;
}
nav a
{
   display: block;
   text-decoration: none;
}
section h1  /* menu */
{
   background-color: #008500;
   color:#9fee00;
   position: relative;
   left:35%;
   height:2em;
   width: 30%;
   padding-top: 1em;
   border-radius:1em/1em;
   text-align: center;
}
nav h2/* entrees plats desserts*/
{
   position: relative;
   left: 10%;
   border-color:#f09000;
   border-style:solid;
   border-width:0 0 3px 0;
   width: 150px;
   font-size:medium;
   font-weight:700;
   margin:1em;
   padding-left:2em;
   text-transform:uppercase;
   text-align: center;
}
ul
{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin-bottom:1.5em;
   margin-top:0.5em;
   padding: 2em;
}
li
{
   list-style: none;
   margin: 1em;

}
li:hover
{
   color:red;
}
article h2 /* manifeste */
{
   /*background-color: silver;
   margin: 0 3% 2em 3%;
   line-height: 150%;
   padding:2em 2% 2em 2%;
   color:#000000;*/
   text-align: left;
   border-radius:30px;  
}
article 
{
   background-color: #b9f73e;
   border:1px solid #6090c0;
   line-height:150%;
   margin:0 3% 2em 3%;
   padding:2em 2% 2em 2%;
   color:#000000;
   border-radius:25px; 
}
a
{
   color:#cd0074;
}
footer 
{
   margin-top: 2em;
   background-color: #bfb130;
   border: solid black;
   border-radius: 2em/2em;
   text-indent: 3em;
}
html>body #page
{
   height:auto;
}
#conteneur
{
   display: flex;
   justify-content: space-around;
   height: 500px;
}
.element
{
   display:flex;
   flex-direction: column;  
}
.el1   /* ul */
{
   display: flex;
   flex-direction: column;
   height: 400px;
}
.el2 /* plats li*/
{
   border: black solid;
   max-width: 100px;
}