body
{
   background-color:#306090;
   color:#ffffff;
   font-family:"Trebuchet MS",Verdana,Geneva,Arial,Helvetica,sans-serif;
   font-size:small;
   margin:2em 1%;
   padding:0;
}
/*cadre de la page*/
#page
{
   color:#000000;
   background-color:#ffffff;
   /*background-image:url("http://openweb.eu.org/squelettes/style/original/fond.png");
   background-position:top right;
   background-repeat:no-repeat;*/
   border:3px solid #000000;
   min-height:55em;
   height:55em;
}
header
{
   margin: 2em 3% 1% 3%;
   padding:0.05em 0 0.05em 0;
   background-color: #ffd000;
   border-radius:25px;
}
header h1
{
   font-family: Comic Sans MS",Arial,Helvetica,sans-serif;
   text-align:center;;
}
header .logo
{
   float: left;
   display: block;
}
nav h1
{
   background-color: white;
   position: relative;
   left:5%;
   width: 15%;
   overflow: hidden;
}
nav h2
{
   border-color:#f09000;
   border-style:solid;
   border-width:0 0 3px 0;
   font-size:medium;
   font-weight:700;
   margin:0;
   padding-left:0em;
   text-transform:uppercase;
}
article h2
{
   background-color: silver;
   margin: 0 3% 2em 21%;
   line-height: 5em;
   padding:0 2% 3em 2%;
   color:#000000;
}
ul
{
   margin-bottom:1.5em;
   margin-top:0.5em;
}
li
{
   list-style: none;
}
html>body #page
{
   height:auto;
}